{<<"links">>,
 [{<<"A2ML Specification">>,
   <<"https://github.com/hyperpolymath/a2ml-showcase">>},
  {<<"GitHub">>,<<"https://github.com/hyperpolymath/a2ml_ex">>}]}.
{<<"name">>,<<"a2ml_ex">>}.
{<<"version">>,<<"0.1.0">>}.
{<<"description">>,
 <<"A2ML (AI Attestation Markup Language) parser and renderer for Elixir.">>}.
{<<"elixir">>,<<"~> 1.14">>}.
{<<"app">>,<<"a2ml_ex">>}.
{<<"licenses">>,[<<"MPL-2.0">>]}.
{<<"requirements">>,[]}.
{<<"files">>,
 [<<"lib">>,<<"lib/a2_ml.ex">>,<<"lib/a2ml">>,<<"lib/a2ml/types.ex">>,
  <<"lib/a2ml/parser.ex">>,<<"lib/a2ml/renderer.ex">>,<<".formatter.exs">>,
  <<"mix.exs">>,<<"README.adoc">>,<<"LICENSE">>]}.
{<<"build_tools">>,[<<"mix">>]}.
